{% load staticfiles %}
<html>
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
<meta http-equiv="refresh" content="1200" >
    <head>
        <title>SnapLook</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    </head>
    <body>
    <div class="page-header">
        <center><h1><a href="/">SnapLook</a></h1></center>
    </div>
    <div class="content container">
        <div class="row">
            <div class="col-md-12">
            {% block content %}
            {% endblock %}
            </div>
        </div>
    </div>
</body>
</html>
